# Database Configuration
SPRING_DATASOURCE_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=

# Admin Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

# CORS Configuration
CORS_ALLOWED_ORIGIN=http://localhost:4200