# Database Configuration
SPRING_DATASOURCE_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=

# Admin Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=

# CLIENT URL
CORS_ALLOWED_ORIGIN=

# API URL
API_URL=

# PORTS
CLIENT_PORT=
API_PORT=